body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#colorPicker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#generateBtn {
    margin-left: 10px;
}

#gradient {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, #000000, #f3eeee);
}